/* browser reset! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 13px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 940px;
	margin: 0 auto;
	margin-top: 1%;
	font-family: Geneva, sans-serif;
  transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}

header {
	margin-top: 30px;
	height: 48px;
	width: 940px;
	line-height: 100%;
	display: block;
	
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 3px;
}

	header h1 {
	font-size: 20px;
	line-height: 1;
	float: left;
	padding: 13px 20px 0 20px;
	font-color: #424242;
	font-weight: 700;
	}
	header nav {
	float: right;
	font-size: 14px;
	line-height: 1;
	margin: 19px 20px 0 0;
	font-family: 'Trebuchet MS';
	
	}
	header nav ul li {
	display: inline;
	margin-left: 30px;
	}	

	header nav ul li a {text-decoration: none; color: black;
	border-radius: 20px;
	padding: 3px 11px;
}
	
	header nav ul li a:hover 
	{background-color: #3B8183;}

	header nav ul li a:hover 
	{color: #FAD089;}


#container {
	height: 500px;
	width: 940px;
	display: block;
	margin: 10 0 10 0;
	line-height: 1.5;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 3px;
}

	div aside {
	height:300px;
	width: 390px;
	float: right;
	background-color: #FF9C5B;
	display: block;
	border-radius: 15px;
	}

	div aside img {
	height: 300px;
	width: 390px;	
	border-radius: 15px;

	}

	#text {
	height: 300px;
	width: 536px;
	background-color: #FAD089;
	display: block;
	float: left;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 10px;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;
	}

	.shadow {
	background-position: left bottom;
	background: url(http://static.tumblr.com/njty47g/yu0leufgq/post_shadow.png) left top no-repeat;
	width: 100%;
	height: 10px;
	position: absolute;
	clear:both;
	margin-top: 300px;
	}

.content {
	position: relative;
	padding: 20px 20px 20px 20px;
	line-height: 1.6
	font-size: 12px;
}

.content a {text-decoration: none; color: black; font-weight: bold; 
	padding: 3px 3px; border-radius: 3px;}

.content a:hover {background-color: #3B8183; color: #FAD089;}

#notes {
	height: 200px;
	width: 536px;
	float: left;
		
	}

#special {
	height: 200px;
	width: 390px;
	float: right;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	line-height: 200px;
    font-family: "Trebuchet MS";
    font-size: 20px; 
	font-color: #424242;
	font-weight: 700;
}

footer {
	height: 48px;
	width: 940px;
	display: block;
	background-color: #3B8183;
	border-radius: 15px;‚
	font-family: 'Trebuchet MS';
	font-size: 16px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 10px;
	box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;
	margin-bottom: 30px;
}

footer nav {padding-top: 4px; float:left;}
footer nav ul li {display:inline; margin-left: 20px;}

footer nav ul li a img {height: 40px;
		width: 40px; border-radius: 10px;}

footer nav ul li a {text-decoration:none; 
	}

footer nav ul li a img:hover {background-color: #FAD089; border-radius: 10px; 
	box-shadow: 0 0 0 5px rgba(0,0,0,0.06) inset,0 0 0 1px rgba(0,0,0,0.2) inset;}

footer span {
	float: right;
	line-height: 48px;
	margin-right: 20px;
	vertical-align: middle;
}
