div {
color: #08298A;
font: cursive;
font-family: Garamond;
font-size: 18pt;
font-weight: strong;
}

p {
font-family: Geneva;

}

h2 {
font-family: Geneva;
}

li {
font-family: Geneva;
}

a:link {
	color: #08298A;
}
a:visited {color: #08298A;}
a:hover {
text-decoration: underline;
}