div {
color: #08298A;
font: cursive;
font-family: Garamond;
font-size: 18pt;
font-weight: bold;
}

p {
font-family: Geneva;

}

h2 {
font-family: Geneva;
}

ul {

	list-style-position:inside;
}

li {
font-family: Geneva;
}
