

@font-face {
    font-family: 'KingthingsWroteRegular';
    src: url('fonts/kingthings_wrote/Kingthings_Wrote-webfont.eot');
    src: url('fonts/kingthings_wrote/Kingthings_Wrote-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kingthings_wrote/Kingthings_Wrote-webfont.woff') format('woff'),
         url('fonts/kingthings_wrote/Kingthings_Wrote-webfont.ttf') format('truetype'),
         url('fonts/kingthings_wrote/Kingthings_Wrote-webfont.svg#KingthingsWroteRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width: 1024px;
	margin: 0 auto;
	margin-top: 1%;
}

header h1 {
	color: #B45F04; 
	font-family: Geneva; 
	font-size: 2em;
	font-weight: bold;
	float:left;
	margin-top: 2%;
}
header h1 span {font-family:'KingthingsWroteRegular';}

header nav ul li {
	font-family: Geneva;
	display:inline;
list-style: none; 
padding-left: 20px;
margin-top: 2%;
font-size: 1.5em;
text-indent: -1.5em;}

header nav ul {float: right;
display:inline;}

hr {clear:both;}

div {margin-bottom: 10px;}

div p {
color: #488649;
font-family: Geneva;
font-size: 1em;
font-weight: bold;
margin-top: 20px;
}

section {
font-family: Geneva;
}
section h3 {
font-family: 'KingthingsWroteRegular';
}

section ul {
	list-style-position:outside;
	list-style-image: url("images/snowflake-black.png");
	vertical-align: middle;
	margin-left: 0px;
}

section ul li {
	line-height: 24px;
}

a {text-decoration:none;
	color: #B45F04; 
}

div img {float:right; margin-bottom: 20px;}

footer {margin-top: 20px;}
footer p {font-family: Geneva;
float:left;}
footer a {float:left;
padding-left: 10px;}
;